.baseContainer {
    margin: auto;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.col {
    width: 20px;
    border: solid black 1px;
    box-sizing: border-box;
    flex-basis: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.controls {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px 50px;
}